@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* intro */
.sec1 {
    height: 100vh;
    padding: 50px 0;
    position: relative;
    background-color: var(--basic-black);
    overflow: hidden;
}

.h2_wrap h2 {
    font-family: "Quantico", sans-serif;
    color: var(--bg);
    font-weight: 700;
    font-size: 100px;
    line-height: 140px;
}

.h2_wrap span {
    font-family: "Quantico", sans-serif;
    color: var(--bg);
    font-size: 150px;
}

.name_wrap {
    position: absolute;
    top: 22%;
    z-index: 2;
}

.last_name {
    position: relative;
    font-family: "Quantico", sans-serif;
    color: var(--basic-black);
    text-align: center;
    font-size: 485px;
    letter-spacing: -8px;
}

.sec1 h4{
    font-size: 24px;
    text-align: center;
    position: relative;
    bottom: 150px;
    z-index: 2;
}

/* intro_mobile */
.intro_wrap {
    height: 100vh;
}

.intro {
    padding: 300px 0 50px;
    justify-content: center;
    align-items: center;
}

.intro svg {
    height: auto;
}

#DANBI {
    animation: stroke 3s 1 alternate;
}

.intro_wrap h2 {
    font-size: 24px;
    text-align: center;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        fill: rgba(72, 138, 204, 0);
        stroke: var(--basic-black);
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 204, 0);
        stroke: var(--basic-black);
    }

    80% {
        fill: rgba(72, 138, 204, 0);
        stroke: var(--basic-black);
    }

    100% {
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke: var(--basic-black);
        stroke-width: 0;
    }
}


/* about */
.sec2 {
    background-color: var(--bg);
}

.about h2 {
    padding: 100px 0;
}

.about_wrap {
    justify-content: space-around;
}

.my {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: var(--basic-black);
}

.about li {
    font-size: 18px;
    padding-bottom: 45px;
}

.about span {
    display: inline-block;
    width: 60px;
    margin-right: 20px;
}

.skill ul {
    width: 200px;
}

.skill li {
    padding: 0 5px;
}

.skill img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.fe {
    justify-content: center;
    flex-wrap: wrap;
}

.sp {
    padding: 20px 0;
    text-align: center;
}

.edu_wrap {
    padding: 45px 0;
}

.edu {
    padding-top: 20px;
    gap: 10%;
}

.edu ul {
    font-size: 18px;
}

.edu ul:first-child {
    width: 300px;
}

.edu ul li {
    height: 36px;
    line-height: 1;
}

.edu ul li:last-child {
    padding-top: 20px;
}

/* project */
.project_wrap {
    height: 100vh;
    white-space: pre-wrap;
}

.project_wrap h2 {
    padding: 100px 0;
}

.project_wrap .swiper {
    width: 100%;
    height: 100%;
}

.swpier-wrapper {
    transition-timing-function: linear;
  }

.project_wrap .swiper-vertical>.swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
    top: 20%;
}

.project_wrap .swiper-pagination-bullet-active {
    background: var(--basic-black);
}

/* toy */
.toy_wrap {
    padding-bottom: 100px;
}

.toy_tit {
    padding: 100px 0;
    background-color: var(--bg);
}

.toy_tit h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

.toy {
    justify-content: flex-end;
    gap: 3rem;
    padding-top: 50px;
}

/* web-clone */
.clone_wrap h2 {
    padding: 100px 0;
}

.clone_wrap .swiper {
    width: 100%;
    height: 775px;
}

.clone_wrap .swiper-slide {
    text-align: center;
}

.clone_wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #FF6F61;
}

/* contacts */
.sec10 {
    width: 100%;
    background-color: var(--basic-black);
    height: 100vh;
    overflow: hidden;
}

.lets {
    padding-top: 100px;
}

.lets h3 {
    font-size: 160px;
    color: var(--bg);
    font-family: "Montserrat", sans-serif;
}

.cantact {
    padding-top: 85px;
    text-align: end;
}

.cantact p {
    font-family: "Montserrat", sans-serif;
    color: var(--bg);
    font-size: 64px;
    font-weight: 600;
    padding-bottom: 30px;
}

.cantact li {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: var(--bg);
    text-align: end;
    padding-bottom: 10px;

}

.cantact img {
    width: 50px;
    height: 50px;
}

.contact_wrap h6 {
    color: var(--bg);
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 5px;
    padding: 10px 0;
}

/* 반응형 */
@media screen and (max-width : 1500px) {
    .name_wrap {
       top: 30%; 
       left: 7%;
    }

    .last_name {
        font-size: 400px;
        letter-spacing: -20px;
    }

}

@media screen and (max-width : 1300px) {
    .name_wrap {
       left: 5%;
    }
}

@media screen and (max-width : 1200px) {
    .last_name {
        font-size: 350px;
    }
    .sec1 h4{
        bottom: 200px;
    }
}

@media screen and (max-width : 1065px) {

    .name_wrap {
        left: 0%;
     }

    .about {
        width: 100%;
    }

    .skill {
        width: 100%;
    }

    .skill ul {
        width: 100%;
    }

    .edu {
        width: 100%;
        gap: 5%;
    }

    .edu ul {
        height: auto;
    }

    .toy {
        padding-top: 0;
    }

    .sec10 {
        height: auto;
    }

    .lets {
        padding-top: 50px;
    }

    .lets h3 {
        font-size: 100px;
    }

    .cantact {
        padding-top: 70px;
    }

    .cantact p {
        font-size: 45px;
    }

    .cantact li {
        font-size: 30px;
    }

    .cantact img {
        width: 50px;
        height: 50px;
    }

}

@media screen and (max-width : 1024px) {
    .name_wrap {
        left: 7%;
     }
  
    .last_name {
        font-size: 280px;
    }
    .sec1 h4{
        font-size: 20px;
        bottom: 250px;
    }
}

@media screen and (max-width : 910px) {
    .last_name {
        font-size: 250px;
    }
    .sec1 h4{
        bottom: 300px;
    }
}

@media screen and (max-width : 768px) {

    .intro{
        padding-top: 250px;
    }

    .intro_wrap h2 {
        font-size: 20px;
    }

    .about_wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about h2 {
        padding: 50px 0;
    }

    .my {
        width: 200px;
        height: 200px;
    }

    .my img {
        width: 210px;
        height: 210px;
    }

    .about li {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .edu_wrap {
        padding-top: 20px;
    }

    .edu ul {
        font-size: 16px;
    }

    .project_wrap h2 {
        padding-bottom: 50px;
    }

    .toy_wrap {
        padding-bottom: 0;
    }

    .toy_tit {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

    .toy_tit h2 {
        font-size: 24px;
        padding-left: 5px;
    }

    .toy {
        flex-direction: column;
        justify-content: center;
    }

    .clone_wrap h2 {
        padding-bottom: 50px;
    }

    .clone_wrap .swiper {
        height: 500px;
    }


    .lets h3 {
        font-size: 50px;
    }

    .cantact p {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .cantact li {
        font-size: 20px;
    }

    .cantact img {
        width: 30px;
        height: 30px;
    }

    .contact_wrap h6 {
        font-size: 10px;
        letter-spacing: 3px;
    }
}

@media screen and (max-width : 500px) {

    .about {
        padding-top: 20px;
    }

    .skill {
        flex-direction: column;
        align-items: center;
    }

    .skill ul {
        width: 200px;
    }

    .edu {
        flex-direction: column;
    }

    .edu ul li {
        height: auto;
    }

    .edu ul li:last-child {
        padding-top: 10px;
    }

    .edu ul:last-child li:first-child {
        padding-top: 25px;
    }

}