@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* header */
header {
    border-bottom: 2px solid rgba(26, 26, 26, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0;
    z-index: 4;
}

.header_wrap {
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    padding-left: 10px;
}

nav ul {
    gap: 48px;
    padding-right: 10px;
}

nav li {
    font-size: 18px;
}
/*모바일 nav*/
.ham{
    height: 12px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
.ham span{
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--basic-black);
  transition-duration: 0.4s;
}
.ham span:last-child{
  margin-top: 10px;
}
.set.ham span:first-child{
  position: relative;
  top: 50%; left: 0; transform: rotate(45deg);
  transition-duration: 0.4s
}
.set.ham span:last-child{
  position: relative;
  top: -50%; left: 0; transform: rotate(-45deg);
  transition-duration: 0.4s
}
.ham_menu{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  z-index: 5;
  background-color: var(--bg);
}

/* circle */
.circle_wrap {
    justify-content: center;
}

.circle {
    position: absolute;
    top: 20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--bg);
    z-index: 1;
}

/* flow letter */
.letter{ width: 100%; position: relative; overflow: hidden;}
.marquee{ width: 100%; text-align: center; display: flex; }
.marquee .play{ display: flex; justify-content: space-around; animation: marquee 30s linear infinite; min-width: 170%; flex-shrink: 0; font-size: 10vw; font-weight: 300;}
.marquee .play h1 { font-family: "Roboto", sans-serif; }
.marquee .play h2{ font-weight: 700; color: var(--bg); -webkit-text-stroke: 1px var(--basic-black); font-family: "Roboto", sans-serif;}

@keyframes marquee {
    0%{ transform: 0; }
    100%{ transform: translateX(-100%);}
}

/* button 버튼 */
.btn_wrap{
  gap: 28px;
}
.btn_wrap div{
  width: 100px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--basic-black);
}

/* clone */
.cloneCom_wrap{
  width: 100%;
  height: 100%;
}