@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* header */
header {
    border-bottom: 2px solid rgba(26, 26, 26, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    position: sticky;
    top: 0;
    z-index: 4;
}

.header_wrap {
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    padding-left: 10px;
}

nav ul {
    gap: 48px;
    padding-right: 10px;
}

nav li {
    font-size: 18px;
}

/*모바일 nav*/
.ham{
    height: 12px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
.ham span{
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--basic-black);
  transition-duration: 0.4s;
}
.ham span:last-child{
  margin-top: 10px;
}
.set.ham span:first-child{
  position: relative;
  top: 50%; left: 0; transform: rotate(45deg);
  transition-duration: 0.4s;
}
.set.ham span:last-child{
  position: relative;
  top: -50%; left: 0; transform: rotate(-45deg);
  transition-duration: 0.4s;
}
.set.ham{
  position: relative;
  top: -100vh;
  z-index: 6;
}

.ham_menu{
  width: 100%;
  height: 2250px;
  position: absolute;
  top: -140vh;
  left: 0;
  z-index: 5;
  background-color: var(--bg);
  overflow: hidden;
}
.ham_menu ul{
  width: 100%;
  position: relative;
  top: 19%;
}
.ham_menu li{
  width: 100%;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
}
.ham_menu li:hover{
  font-style: italic;
  text-decoration: line-through;
  font-weight: 400;
}

/* circle */
.circle_wrap {
    justify-content: center;
}

.circle {
    position: absolute;
    top: 20%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--bg);
    z-index: 1;
}

/* flow letter */
.letter{ width: 100%; position: relative; overflow: hidden;}
.marquee{ width: 100%; text-align: center; display: flex; }
.marquee .play{ display: flex; justify-content: space-around; animation: marquee 30s linear infinite; min-width: 170%; flex-shrink: 0; font-size: 10vw; font-weight: 300;}
.marquee .play h1 { font-family: "Roboto", sans-serif; }
.marquee .play h2{ font-weight: 700; color: var(--bg); -webkit-text-stroke: 2px var(--basic-black); font-family: "Roboto", sans-serif;}

@keyframes marquee {
    0%{ transform: 0; }
    100%{ transform: translateX(-100%);}
}

/* button 버튼 */
.btn_wrap{
  gap: 28px;
}
.btn_wrap a{
  width: 100px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

/* project */
.proCom_wrap{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.proCom_wrap h2{
  padding: 100px 0;
}
.proCom{
  padding-top: 50px;
  justify-content: center;
}
.proImg{
  width: 500px;
  height: 422px;
  border: 1px solid #ddd;
}
.proImg img{
  width: 100%;
  height: 100%;
}
.cont_wrap{
  width: 500px;
  height: 422px;
  padding-left: 100px;
}
.cont_wrap h3{
  padding-bottom: 20px;
}
.cont_wrap p:not(p:nth-child(5)){
  padding-bottom: 10px;
}
.cont_wrap p:nth-child(5){
  width: 100%;
  height: 53.5%;
  line-height: 1.5;
}
.cont_wrap p:nth-child(5)::before{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
  margin: 10px 0 20px;
}
.ProBtn a{
  border: 2px solid var(--basic-black);
  position: relative;
}
.ProBtn a::after {
 position: absolute;
 content: "";
 width: 0;
 height: 100%;
 top: 0;
 left: 0;
 z-index: -1;
 background: var(--basic-black);
 transition: all 0.3s ease;
}
.ProBtn a:hover {
 color: #fff;
}
.ProBtn a:hover:after {
 left: 0;
 width: 100%;
}

/* toy */
figure{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}
figure img{
  width: 479px;
  height: 262px;
}
.TSkill{
  justify-content: center;
}
.ToyCome_cont{
  width: 479px;
  height: 262px;
  text-align: center;
}
.ToyCome_cont figcaption{
  padding: 15px 0 0;
}
.ToyCome_cont p{
  white-space: pre-wrap;
  line-height: 1.2;
  padding: 10px 0;
}
.toy_txt{
  height: 72px;
}
.toyBtn{
  justify-content: center;
}
.toyBtn a{
  border: 2px solid var(--basic-black);
  position: relative;
  z-index: 1;
}
.toyBtn a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--basic-black);
  transition: all 0.3s ease;
 }
 .toyBtn a:hover {
  color: #fff;
 }
 .toyBtn a:hover:after {
  left: 0;
  width: 100%;
 }
 
/* skills button*/
.skillBtn_wrap li{
  width: 85px;
  line-height: 35px;
  background-color: var(--basic-black);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 5px;
}

/* clone */
.cloneCom_wrap{
  width: 100%;
  height: 100%;
}
.cloneCom{
  position: relative;
  z-index: 1;
  width: 100%; height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cloneCom::after{
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0.8;
}
.cloneCom:hover::after{
  background-color: rgba(0, 0, 0, 0.4);
}
.clone_font_wrap{
 padding-top: 250px;
}
.clone_font_wrap p{
  color: #fff;
  position: relative;
}
.clone_font_wrap p:first-child{
  padding: 30px;
}
.clone_font_wrap p:first-child::after{
  width: 50px; height: 3px;
  background-color: #fff;
  content: "";
  position: absolute;
  top: 75px;
  left: 46%;
}
.clone_font_wrap p:nth-child(2){
  padding: 20px 0;
}
.clone_font_wrap p:nth-child(3){
  padding-bottom: 50px;
}
.cloneBtn{
  justify-content: center;
}
.cloneBtn a{
  background-color : transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: all .5s ease;
}
.cloneBtn a:hover{
  background-color: #fff;
  color: var(--basic-black);
}

/* 반응형 */
@media screen and (max-width : 1065px) {

  figure img{
    width: 350px;
    height: 192px;
  }
  .ToyCome_cont{
    width: 350px;
  }
}

@media screen and (max-width : 768px) {

	.proCom {
    padding: 0;
		flex-direction: column;
    justify-content: center;
    align-items: center;
	}
  .proImg{
    width: 300px;
    height: 222px;
    border: 1px solid #ddd;
  }
  .cont_wrap{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 0px;
  }
  .cont_wrap h3{
    text-align: center;
  }
  .cont_wrap p:not(p:nth-child(5)){
    text-align: center;
  }
  .cont_wrap p:nth-child(5){
    height: auto;
    font-size: 14px;
    padding-bottom: 20px;
  }
  .ProBtn{
    justify-content: center;
  }
  .ProBtn a{
    border: 2px solid var(--basic-black);
  }
  .PSkill{
    flex-wrap: wrap;
    justify-content: center;
  }
  .skillBtn_wrap li{
    font-size: 14px;
    width: 70px;
    line-height: 30px;
  }
  figure{
    background-color: var(--bg);
    box-shadow: none;
  }
  figure img{
    width: 100%;
    height: auto;
  }
  .ToyCome_cont{
    width: 100%;
  }
  .clone_font_wrap{
    padding-top: 100px;
   }
  .clone_font_wrap p:first-child::after{
    left: 46%;
  }
}
@media screen and (max-width : 500px){
  .clone_font_wrap p:first-child::after{
    left: 43%;
  }
}