:root{
    --basic-black : #1A1A1A;
    --bg : #F4F3ED;
}

*{  
    /* background-color: var(--bg); */
    color: var(--basic-black);
}

.flex{
    display: flex;
}

.basic_section{
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}